torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
numpy==1.26.4
scipy==1.15.3
transformers==4.55.2
huggingface-hub==0.34.4
tokenizers==0.21.4
safetensors==0.6.2
Pillow==11.3.0
av==15.0.0
kornia==0.8.1
spandrel==0.4.1
einops==0.8.1
tqdm==4.67.1
aiohttp==3.12.15
yarl==1.20.1
PyYAML==6.0.2
SQLAlchemy==2.0.43
alembic==1.16.4
pydantic==2.11.7
pydantic-settings==2.10.1
